<!doctype html>
<html ng-app="murderApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <title>Murder, She Generated</title>
  </head>
  <body>
	  <div class="container"  ng-controller="MysteryCtrl">
      <div ng-hide="title == ''">
        <div id="the-details" class="row">
          <div class="col-xs-12">
            <h1>{{title}}: a murder mystery game for {{suspects.length + 1}} players.</h1>
            <hr>
            <p class="lead" ng-repeat="paragraph in scene">{{paragraph}}</p>
            <blockquote ng-controller="QuoteCtrl" class="hidden-print" id="quote">
              <p>{{quote.text}}</p>
              <small>{{quote.source}}</small>
            </blockquote>
            <hr>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>Instructions pt. 1: The host should read these instructions privately.</h4>
            <div class="instructions">
              <p>
                As host, you will play the part of {{investigator}}. Your guests will play the parts of the suspects.
                It is up to you to interrogate them over the course of an evening, revealing the sometimes shocking
                connections hidden within this quiet community, and ultimately solving a murder.
              </p>
              <p>
                Your investigations have already yielded pertinent information about the victim, the {{location.name}}, and
                your suspects. You have figured out what happened. But tonight is your chance for some fun,
                and for a dramatic reveal. Tonight you unmask a killer:
                {{murderer.name}}<span ng-if="!secret">(player {{murderer.id}})</span>.</p>
              </p>
              <p>
                Your hapless guests that they are under suspicion. In the course of your
                investigations, you will gradually reveal secrets and accuse each of them in turn, casting
                aspersions and uncovering guilt.
              </p>
              <p>
                At the start of the game, each player knows only the bullet points of information provided below under each character name.
                During the game, you will ask them questions and get them talking.

              </p>
              <p>
                Players may to keep their bullet points a secret
                for a time. But when a player is accused directly, they must not lie about any fact (except for if they are the murderer).
              </p>
              <p>
                It's your job to draw them out, spark accusations, and trick the suspects into incriminating
                themselves. Keep them on their toes!
              </p>
              <div id="list">
              <p>
                Read everything in this pack carefully. When you're ready to play:
              <p>
              <ol>
                <li>Hand out the information about each suspect
                to the relevant guest.</li>
                <li>Introduce the game  to your guests by reading the title and blurb at the top of this page.</li>
                <li>In character, read the script below — Instructions pt. 2 — to your guests.
              </ol>
              <p>
                Good luck, and have fun...
              </p>
              </div>
            </div>
            <hr>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>Instructions pt. 2: The host should read these to the players, in character.</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="instructions">
              <p>
                “Greetings, one and all. Thank you for coming at such short notice. The situation, as you may have heard, is grave.
              </p>
              <p>
                “I have invited you all here as suspects for the most terrible of crimes. I am {{investigator}}, and I have been
                dispatched by Scotland Yard to investigate the death of {{victim.name}}. Here in the {{location.name}}, tranquil
                though it may seem, a murder has been committed. And I believe that the murderer is here in this very room,
                sitting among us.
              </p>
              <p>
                “This is a murder mystery. But no matter what you might think, this is <em>not</em> a game.
              </p>
              <p>
                “To refresh your memory, I have given you all a brief summary of your relationships to one another.
                Keep these secret for now. In a while, I will cross-examine you all to discover the truth. No doubt you will
                remember far more than the mere trifles of information I have given you.
              </p>
              <p>
                “You will of course recall more detail about your relationships,
               your fellow residents of the {{location.name}}, and your darkest secrets.
              </p>

              <p>
                In a moment I will begin to ask you questions, and you must answer. Though I am sure you will try to divert my
                attention by exposing some secret scandal or accusing your fellows of something untoward, remember I am an officer of the law.
                You must not lie to me, or directly conceal something when asked. We <em>will</em> have the truth.
              </p>
              <div id="list">
              <p>
                “Before we begin, you have three tasks:
              </p>
              <ol>
                <li>Reflect on your life, the finer details of your character, and where you were at the time of the murder.
                <li>Review my list of social clubs and businesses from the area, so you can remember who socializes and works with whom.</li>
                <li>Share a secret (related to yourself and the deceased) with another suspect in this room.”</li>
              </ol>
            </div>
              <p><em>(Players now have a few minutes to invent the details of their character, invent an alibi, invent a secret related to themselves and the victim,
                and to share their invented secret with 1-2 other players.)</em></p>
              <p>
                “Are we all ready? Then let's begin. {{starter.character.name}}, I believe you
                {{starter | phrasing:true:victim}}?”
              </p>
            </div>
            <hr>
          </div>
        </div>
        <div cast></div>
      </div>
      <div ng-hide="title != ''">
         <div class="row">
            <div class="col-xs-12">
              <h2>Writing the mystery...</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
  </body>
</html>
